Build started...
Build succeeded.
IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
CREATE TABLE [Users] (
    [Id] uniqueidentifier NOT NULL,
    [Email] nvarchar(256) NOT NULL,
    [NormalizedEmail] nvarchar(256) NOT NULL,
    [PasswordHash] nvarchar(max) NOT NULL,
    [Role] int NOT NULL,
    [IsActive] bit NOT NULL,
    [LastLoginAt] datetime2 NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NULL,
    CONSTRAINT [PK_Users] PRIMARY KEY ([Id])
);

CREATE TABLE [Elections] (
    [Id] uniqueidentifier NOT NULL,
    [Title] nvarchar(200) NOT NULL,
    [Description] nvarchar(2000) NULL,
    [NominationStartAt] datetime2 NOT NULL,
    [NominationEndAt] datetime2 NOT NULL,
    [VotingStartAt] datetime2 NOT NULL,
    [VotingEndAt] datetime2 NOT NULL,
    [MaxCandidates] int NULL,
    [Status] int NOT NULL,
    [CreatedByAdminId] uniqueidentifier NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NULL,
    CONSTRAINT [PK_Elections] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Elections_Users_CreatedByAdminId] FOREIGN KEY ([CreatedByAdminId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [Students] (
    [Id] uniqueidentifier NOT NULL,
    [UserId] uniqueidentifier NOT NULL,
    [FullName] nvarchar(150) NOT NULL,
    [RegistrationNumber] nvarchar(30) NOT NULL,
    [Department] nvarchar(100) NOT NULL,
    [YearOfStudy] int NOT NULL,
    [Gender] int NOT NULL,
    [PhoneNumber] nvarchar(20) NULL,
    [ApprovalStatus] int NOT NULL,
    [ApprovedAt] datetime2 NULL,
    [RejectedAt] datetime2 NULL,
    [ReviewedByAdminId] uniqueidentifier NULL,
    [RejectionReason] nvarchar(500) NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NULL,
    CONSTRAINT [PK_Students] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Students_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [Candidates] (
    [Id] uniqueidentifier NOT NULL,
    [StudentId] uniqueidentifier NOT NULL,
    [ElectionId] uniqueidentifier NOT NULL,
    [Manifesto] nvarchar(2000) NULL,
    [NominatedAt] datetime2 NOT NULL,
    [IsApproved] bit NOT NULL,
    [ApprovedByAdminId] uniqueidentifier NULL,
    [ApprovedAt] datetime2 NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NULL,
    CONSTRAINT [PK_Candidates] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Candidates_Elections_ElectionId] FOREIGN KEY ([ElectionId]) REFERENCES [Elections] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Candidates_Students_StudentId] FOREIGN KEY ([StudentId]) REFERENCES [Students] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Candidates_Users_ApprovedByAdminId] FOREIGN KEY ([ApprovedByAdminId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [ElectionParticipations] (
    [Id] uniqueidentifier NOT NULL,
    [StudentId] uniqueidentifier NOT NULL,
    [ElectionId] uniqueidentifier NOT NULL,
    [VotedAt] datetime2 NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NULL,
    CONSTRAINT [PK_ElectionParticipations] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ElectionParticipations_Elections_ElectionId] FOREIGN KEY ([ElectionId]) REFERENCES [Elections] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_ElectionParticipations_Students_StudentId] FOREIGN KEY ([StudentId]) REFERENCES [Students] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [Votes] (
    [Id] uniqueidentifier NOT NULL,
    [ElectionId] uniqueidentifier NOT NULL,
    [CandidateId] uniqueidentifier NOT NULL,
    [CastAt] datetime2 NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NULL,
    CONSTRAINT [PK_Votes] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Votes_Candidates_CandidateId] FOREIGN KEY ([CandidateId]) REFERENCES [Candidates] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Votes_Elections_ElectionId] FOREIGN KEY ([ElectionId]) REFERENCES [Elections] ([Id]) ON DELETE NO ACTION
);

CREATE INDEX [IX_Candidates_ApprovedByAdminId] ON [Candidates] ([ApprovedByAdminId]);

CREATE INDEX [IX_Candidates_ElectionId] ON [Candidates] ([ElectionId]);

CREATE UNIQUE INDEX [IX_Candidates_StudentId_ElectionId] ON [Candidates] ([StudentId], [ElectionId]);

CREATE INDEX [IX_ElectionParticipations_ElectionId] ON [ElectionParticipations] ([ElectionId]);

CREATE UNIQUE INDEX [IX_ElectionParticipations_StudentId_ElectionId] ON [ElectionParticipations] ([StudentId], [ElectionId]);

CREATE INDEX [IX_Elections_CreatedByAdminId] ON [Elections] ([CreatedByAdminId]);

CREATE UNIQUE INDEX [IX_Students_RegistrationNumber] ON [Students] ([RegistrationNumber]);

CREATE UNIQUE INDEX [IX_Students_UserId] ON [Students] ([UserId]);

CREATE UNIQUE INDEX [IX_Users_Email] ON [Users] ([Email]);

CREATE UNIQUE INDEX [IX_Users_NormalizedEmail] ON [Users] ([NormalizedEmail]);

CREATE INDEX [IX_Votes_CandidateId] ON [Votes] ([CandidateId]);

CREATE INDEX [IX_Votes_ElectionId] ON [Votes] ([ElectionId]);

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260902165325_InitialCreate', N'10.0.11');

COMMIT;
GO


